div#log4jComparison h1, div#log4jComparison h2, div#log4jComparison h3 {
   height: 1.5em;
   vertical-align: middle;
}

div#log4jComparison p.example {
   border: 1px solid #999999;
   margin-left: 7px;
   margin-right: 7px;
   padding-top: 1em;
   padding-bottom: 1em;
   padding-left: 1em;
}

div#log4jComparison code {
   font-family: monospace;
   font-size: 1em;
   white-space: pre;
}

div#log4jComparison span.code, div#log4jComparison span.keywords {
   font-family: monospace;
   font-size: 0.8em;
}

div#log4jComparison span.keywords {
   color: #000099;
   font-weight: bold;
}

div#log4jComparison code span.keywords {
   font-size: 1em;
}

div#log4jComparison span.literal {
   color: #0000FF;
}

div#log4jComparison div.dontMakeMeThink {
   float: right;
   font-family: sans-serif;
   font-size: 0.7em;
   font-weight: bold;
   border-width: 2px;
   border-style: ridge;
   border-color: #999999;
   background-color: #CC0000;
   padding: 0.7em;
   margin-left: 10px;
   margin-top: 0px;
   margin-bottom: 10px;
   margin-right: 7px;
   color: #FFFFFF;
}

div#log4jComparison span.comment {
   color: #FF9900;
}

div#log4jComparison p {
   padding-left: 7px;
   padding-right: 7px;
}

/*
div#comparison h1, div#comparison h2, div#comparison h3, div#comparison p {
   padding-left: 7px;
   padding-right: 7px;
}

div#comparison h1, div#comparison h2, div#comparison h3 {
   padding-top: 0.25em;
   padding-bottom: 0.25em;
}

div#comparison h1 {
   background-color: #669966;
   color: #FFFFFF;
   font-size: 14pt;
   font-weight: normal;
}

div#comparison h2 {
   background-color: #888888;
   color: #FFFFFF;
   font-size: 14pt;
   margin-top: 2em;
   font-weight: normal;
}

div#comparison h3 {
   font-size: 12pt;
   margin-top: 0.5em;
   font-weight: bold;
}

p.copyright {
   font-size: smaller;
   color: #666666;
   margin-top: 50;
}


*/